@font-face {
  font-family: 'MonsterHunter';
  src: local('MonsterHunter'), url('./fonts/MonsterHunter.ttf') format('truetype');
}

.app-title {
  font-family: 'MonsterHunter';
  font-size: 35px;
}

.app-container {
  max-width: 1366px;
}

.weapon-col select {
  margin: 10px;
}

.weapon-card {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

#sharpness-select option[value="0.50-0.25"]{
  background: red;
}

#sharpness-select option[value="0.75-0.50"]{
  background: orange;
}

#sharpness-select option[value="1.00-0.75"]{
  background: yellow;
}

#sharpness-select option[value="1.05-1.00"]{
  background: green;
}

#sharpness-select option[value="1.20-1.0625"]{
  background: rgb(66, 134, 244);
}

#sharpness-select option[value="1.32-1.125"]{
  background: white;
}

.weapon-info-col {
  padding-top: 10px;
}
/*.outer-padding {
  background-color: black;
  height:110vh;
}*/

/*.App {
  background-color: black;
  height:110vh;
}*/

/*.app-container {
  max-width: 970px;
  background-color: #ce9452;
  background: url('./images/journal_paper.jpg') center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: 100% 100%;
  -o-background-size: cover;
  background-size: cover;
}*/

/*.inner-app {
  background-color: rgb(255, 230, 204);
}*/

.skills-button {
  background-color: white;
  text-align: left;
  margin-bottom: 1rem;
}

.skills-card {
  background-color: red;
}

.skills-card-body {
  background-color: rgba(245, 245, 245, 0.5);
}

.skills-label {
  padding-right: 5px;
  margin-top: 10px;
}

.skills-level-label {
  padding-bottom: 0px;
}

#skills-container > div > div {
  text-align: left;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

input[type=checkbox]{
  transform:scale(0.8);
}

.input-checkbox {
  margin: -1px -1px;
  padding-top: 0px;
  vertical-align: middle;
}

/*br {
  display: block;
  content: "";
  margin-top: 0;
}*/

