@font-face {
  font-family: 'MonsterHunter';
  src: local('MonsterHunter'), url('./fonts/MonsterHunter.ttf') format('truetype');
}

.app-title {
  font-family: 'MonsterHunter';
  font-size: 35px;
}

.outer-padding {
  background-color: #5c78a8;
}