body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



/*.skills-label {
  font-size: 14px;
  padding-bottom: 0px;
  margin-bottom: -10px;
}
*/

.skills-label {
  padding-right: 5px;
  margin-top: 10px;
}

.skills-level-label {
  padding-bottom: 0px;
}

#skills-container > div > div {
  text-align: left;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 15px;
}

input[type=checkbox]{
  transform:scale(0.8);
}

.input-checkbox {
  margin: -1px -1px;
  padding-top: 0px;
  vertical-align: middle;
}

.weapon-info-card, .weapon-info-card-container {
  margin: 0;
}

.weapon-info-card-weapon-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  /*  height: 5%;
  width: 5%;*/
}

.weapon-info-card-container p {
  margin: 0;
}

.weapon-info-card-element-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.saved-state-card {
  background-color: rgba(255, 255, 255, 0);
}