.weapon-info-card {
  display: block;
  margin: 0;
}

.weapon-info-card-weapon-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  margin-left: -15px;
}

.weapon-info-table tbody td, .weapon-info-table tbody th {
  font-size: 14px;
  text-align: center;
}

.weapon-info-card-element-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}

